body {
    font-family: 'Open Sans',sans-serif!important;
    font-weight: 300;
}
.navWrapper {
    position: relative;
    width: 100%;
    height: 88px;
    background: #FFFFFF;
    border-bottom: 1px solid #fff;
    margin-bottom: 2%;
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.45);
}

#qa {
    font-family: 'Open Sans',sans-serif!important;
    font-weight: 525;
    color: #1D324A;
    font-size: 30px;
    }

.header {
    background: #FFFFFF;
    height: 44px;
    width: 100% !important;
}

button {
    background:#54B5CB !important;
    color: #1D324A;
    width: 100%;
}

button:hover {
    background: #00B5CC !important;
}

.dropdown {
    position: relative;
}
.dropdown a:hover {
    color:#FFFFFF;
    background: #216FA0;
}


/* Media Queries */
@media screen and (max-width: 992px) {
    button {
        background:#54B5CB !important;
        color: #1D324A;
        font-size: 18px;
        padding-left: 40% !important;
        padding-right: 40% !important;
        margin-bottom: 2% !important;
    }
}

@media screen and (max-width: 1200px) {
    button {
        font-size: 12px !important;
    }
}
