body {
    font-family: 'Open Sans',sans-serif!important;
    font-weight: 300;
}
.navWrapper {
    position: relative;
    width: 100%;
    height: 88px;
    /* background: #FFFFFF; */
    background: #59bb80;
    border-bottom: 1px solid #59bb80;
    margin-bottom: 2%;
    padding-top: 1.5%;
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.45);
}

#qa {
    font-family: 'Open Sans',sans-serif!important;
    font-weight: 525;
    color: #FFFFFF;
    font-size: 30px;
    }

.header {
    background: #59bb80;
    height: 44px;
    width: 100% !important;
}

button {
    background:#59bb80 !important;
    width: 100%;
}

button:hover {
    background: #489868 !important;
}

.dropdown {
    position: relative;
    /* background: #59bb80; */
}

/* .dropdown a {
    color: #59bb80;
} */

.dropdown a:hover {
    color: #489868;
}


/* Media Queries */
@media screen and (max-width: 992px) {
    button {
        font-size: 18px;
        padding-left: 40% !important;
        padding-right: 40% !important;
        margin-bottom: 2% !important;
    }
}

@media screen and (max-width: 1200px) {
    button {
        font-size: 12px !important;
    }
}
