.navWrapper{
    width: 100%;
}

nav {
    background: #65B3D0;
    color: #fff;
    align-content: center;
}
button {
    background: #5eb4cd;
    color: #ffffff;
}

.dropdown {
    position: relative;
}